interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://wikimedia.org/api/rest_v1/metrics/pageviews/per-article/en.wikipedia.org/all-access/user/Lionel_Messi/monthly/20221201/20221231
  response:
    body:
      string: '{"items":[{"project":"en.wikipedia","article":"Lionel_Messi","granularity":"monthly","timestamp":"2022120100","access":"all-access","agent":"user","views":11561467}]}'
    headers:
      accept-ch:
      - Sec-CH-UA-Arch,Sec-CH-UA-Bitness,Sec-CH-UA-Full-Version-List,Sec-CH-UA-Model,Sec-CH-UA-Platform-Version
      content-type:
      - application/json; charset=utf-8
      x-client-ip:
      - 2603:7000:9103:9a7b:9479:a929:1625:9b34
      x-content-security-policy:
      - default-src 'none'; frame-ancestors 'none'
      x-webkit-csp:
      - default-src 'none'; frame-ancestors 'none'
    status:
      code: 200
      message: OK
version: 1
