interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://wikimedia.org/api/rest_v1/metrics/pageviews/per-article/en.wikipedia.org/all-access/user/Pel%C3%A9/daily/20150601/20150630
  response:
    body:
      string: '{"type":"https://mediawiki.org/wiki/HyperSwitch/errors/not_found","title":"Not
        found.","method":"get","detail":"The date(s) you used are valid, but we either
        do not have data for those date(s), or the project you asked for is not loaded
        yet.  Please check https://wikimedia.org/api/rest_v1/?doc for more information.","uri":"/analytics.wikimedia.org/v1/pageviews/per-article/en.wikipedia.org/all-access/user/Pel%C3%A9/daily/20150601/20150630"}'
    headers:
      accept-ch:
      - Sec-CH-UA-Arch,Sec-CH-UA-Bitness,Sec-CH-UA-Full-Version-List,Sec-CH-UA-Model,Sec-CH-UA-Platform-Version
      content-type:
      - application/problem+json
      x-client-ip:
      - 2603:7000:9103:9a7b:9479:a929:1625:9b34
      x-content-security-policy:
      - default-src 'none'; frame-ancestors 'none'
      x-webkit-csp:
      - default-src 'none'; frame-ancestors 'none'
    status:
      code: 404
      message: Not Found
version: 1
